/* CSS - Cascading Style Sheets*/
/* Small devices (768px and up) */
@media (min-width: 768px) {
  .container {
    padding-left: 5.8rem;
    padding-right: 5.8rem;
  }
  /*----------- Header -----------*/
  .page-header {
    height: 9rem;

    margin-left: -55px;
  }

  .page-header .header-menu {
    margin-left: 1rem;
  }

  .page-header .header-logo {
    width: 15rem;

    left: 55%;
  }

  .header-description h2 {
    display: initial;
    color: var(--color-text-in-primary);
    font-size: 1.4rem;

    font-weight: 400;
  }

  .page-header .header-description,
  .page-header .buttons {
    display: flex;
    align-items: flex-end;

    padding: 0 0;
    padding-bottom: 1rem;
  }

  .page-header .buttons {
    justify-content: center;
  }

  .page-header .buttons a {
    background-color: var(--color-background-white);
    text-decoration: none;

    width: 3.2rem;
    height: 3.2rem;
    border-radius: 4px;
    border: 0;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);

    padding: 0;
    margin: 0.5rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: .3s;
  }

  .page-header .buttons a:hover {
    background-color:var(--color-background-hover);
  }

  .page-header .buttons a img {
    width: 1.5rem;
  }

  .page-header .buttons a p {
    display: none;
  }

  /*----------- Rotate Section -----------*/
  #rotate .rotate-img-subtitle {
    width: 45%;

    background-color: var(--color-primary-dark);
    color: var(--color-text-in-primary);

    left: 2rem;
    bottom: 8rem;
  }

  #rotate .rotate-title-inside {
    display: initial;

    position: absolute;
    left: 2rem;
    bottom: 0.6rem;

    color: var(--color-text-in-primary);
    font-weight: 700;
    font-size: 2.2rem;
  }

  #rotate .rotate-title {
    display: none;
  }

  /*----------- News Section -----------*/
  #news-section .news-description {
    height: 10rem;
  }

  /*----------- Arts Section -----------*/
  .art .art-article {
    margin-top: 1.2rem;
    display: flex;
  }

  /*----------- Adds Section -----------*/

  #ads-section {
    margin-top: 8rem;
    padding-left: 0;
    padding-right: 0;
  }

  /*----------- Footer -----------*/
  .footer-container {
    padding-right: 0;
    padding-left: 0;
  }


  .footer-content {
    padding: 2rem 1rem;
  }

  .footer-content img {
    width: 15rem;
  }

  .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-text p {
    margin-bottom: 0;
  }
  
}
